<section id="team" class="team">

    <div class="container">

        <header class="section-header">
            <h2>Dernières réalisations</h2>
            <p>Retrouvez mes dernières réalisations</p>
        </header>

        <div class="row gy-4">

            {% for realisation in realisations %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="{{ realisation.file }}" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>{{ realisation.nom }}</h4>
                            <span>Ajoutée le {{ realisation.createdAt|date('d/m/Y') }}</span>
                            <p>{{ realisation.description|u.truncate(200, '...', false) }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</section>
