<section id="team" class="team">

    <div class="container">

        <header class="section-header">
            <h2>Dernières réalisations</h2>
            <p>Retrouvez mes dernière réalisations</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://picsum.photos/500" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Titre de la Réalisations</h4>
                        <span>Date d'ajout</span>
                        <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://picsum.photos/500" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Titre de la peinture</h4>
                        <span>Date d'ajout</span>
                        <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="https://picsum.photos/500" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Titre de la peinture</h4>
                        <span>Date d'ajout</span>
                        <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
