<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h4>Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="S'inscrire">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="{{ path('home') }}" class="logo d-flex align-items-center">
                        <img src="/img/logo.png" alt="">
                        <span>Deco pierres</span>
                    </a>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Menu</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="{{ path('home') }}">Accueil</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="{{ path('realisations') }}">Réalisations</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">A propos</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#"> Me contacter</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Information</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i>Artiste décorateur mural dans le Nord de la France au coeur de l'Avesnois.</li>
                        <li><i class="bi bi-chevron-right"></i>Je réalise mes décorations à l'enduit directement sur place!</li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Mentions Legales </h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">RGPD</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Deco Pierres</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
    </div>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</footer><!-- End Footer -->

